includes:
    - vendor/larastan/larastan/extension.neon

parameters:

    paths:
        - app/

    level: 9

    ignoreErrors:
        -
            identifier: missingType.generics

    excludePaths:
        -
            app/Utils/Faker/Dictionary.php
