@import "@node/@tabler/core/dist/css/tabler.min.css";
@import "@node/@tabler/icons-webfont/dist/tabler-icons.min.css";
@import "../../node_modules/tom-select/dist/css/tom-select.min.css";
@import "./tailwind-utils.css";
